body {
  background-color: #FCF9F3;
}

h1 {
  color: rgb(146, 78, 1);
  text-align: center;
  font-family: Garamond;
  font-style: italic;
}

.p {
  color: black;
  text-align: center;
  font-family: Monaco;
  font-size: 16px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}







