body {
  background-color: #00bfff;
}

h1 {
  color: rgb(146, 78, 1)163, 60, 0);
  text-align: center;
  font-family: Garamond;
  font-style: italic;
}

p1 {
  color: black
  text-align: center;
  font-family: Monaco;
  font-size: 16px;
}

