body {
  background-color: #FCF9F3;
}

h1 {
  color: rgb(146, 78, 1);
  text-align: center;
  font-family: Garamond;
  font-style: italic;
}

p {
  color: black;
  text-align: center;
  font-family: Monaco;
  font-size: 16px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  flex-wrap: wrap;
  background-color: #deb887;
}
 
.container div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;  
  font-size: 30px;

}
